/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1170px) {
  .header {
    background-position: center; }
    .header__decor-text-two {
      left: 65px; }

  .info__top {
    gap: 84px;
    margin-bottom: 45vh; }

  .buy {
    padding: 75px 0 0; }
    .buy__wrapper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .gallery__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .gallery-min {
    margin: 0 auto;
    margin-bottom: 50px; }

  .gallery-max {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto; }
    .gallery-max img {
      width: 100%;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

  /* */ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .info__top {
    gap: 84px;
    margin-bottom: 15vh;
    display: block; }
    .info__top-text {
      width: 100%;
      font-size: 16px; }
    .info__top-img {
      width: 227px;
      margin: 0 auto;
      display: block; }
  .info_specs {
    gap: 50px; }
    .info_specs h3 {
      font-size: 40px; }
    .info_specs-list {
      max-width: 565px; }
    .info_specs--item p {
      font-size: 16px; }
  .info__btn {
    bottom: -160px;
    right: 90px;
    z-index: 10; }

  .gallery-min {
    gap: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 52px 22px 32px; }
    .gallery-min__img {
      width: 100%;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

  .micro__btn {
    right: 88px; }

  .footer {
    /* */ }
    .footer__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
    .footer__logo {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 50px; }
    .footer_menu-item a {
      font-size: 16px; }
    .footer__social-title {
      text-align: center; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__top {
    gap: 60px;
    font-size: 18px; }
  .header__btn {
    padding: 12px 47px; }

  .info__top {
    gap: 84px;
    margin-bottom: 15vh; }
  .info__specs {
    display: block;
    padding: 25px 0; }
    .info__specs h3 {
      padding-bottom: 20px; }
    .info__specs-list {
      margin-bottom: 0px;
      padding: 30px 0; }
    .info__specs--item {
      padding-top: 10px; }

  .gallery-min {
    margin-bottom: 50px;
    gap: 20px;
    padding: 32px 20px 24px; }
    .gallery-min::before {
      border-radius: 200px 0px 200px 0px; }

  .gallery-max__text p {
    font-size: 22px;
    padding: 66px 30px;
    border-radius: 0px 0px 0px 150px; }

  .footer__menu {
    display: block;
    text-align: center; }

  .footer_menu-item {
    padding: 10px 0; }

  .footer__gallery {
    margin-bottom: 30px;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr); }
    .footer__gallery img {
      width: 100%;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

  /* */ }
@media only screen and (max-width: 615px) {
  .header__decor-text {
    display: none; }

  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 45px; }
  .header__btn {
    width: 70%; }

  .info__top {
    gap: 84px;
    margin-bottom: 5vh; }
  .info__specs h3 {
    font-size: 22px; }
  .info__specs--item {
    gap: 0px; }
    .info__specs--item p {
      font-size: 12px; }
  .info__btn {
    bottom: -175px;
    right: 90px; }

  .buy__content {
    max-width: 510px; }
  .buy__title {
    font-size: 50px;
    margin-bottom: 30px; }
  .buy__item-title {
    font-size: 22px; }
  .buy__item-text {
    font-size: 16px; }
  .buy__price {
    width: 170px;
    height: 170px;
    font-size: 28px; }
  .buy__btn {
    font-size: 24px; }

  .micro__title h3 {
    font-size: 45px; }

  .micro__list-item {
    font-size: 18px; }

  .gallery-min {
    gap: 15px;
    padding: 22px 14px 18px; }
    .gallery-min::before {
      border-radius: 200px 0px 180px 0px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__content {
    min-height: calc(75vh - 160px); }
    .header__content-box {
      margin-right: 0; }
      .header__content-box h1 {
        font-size: 50px;
        margin-bottom: 10px; }
      .header__content-box p {
        font-size: 18px;
        margin-bottom: 10px; }

  .info__specs h3 {
    font-size: 22px; }
  .info__specs--item {
    display: block;
    gap: 0px; }
    .info__specs--item p {
      font-size: 14px; }

  .buy__title {
    font-size: 40px; }
  .buy__price {
    bottom: -350px;
    width: 125px;
    height: 125px;
    font-size: 22px; }
  .buy__btn {
    font-size: 20px; }

  .micro__title h3 {
    font-size: 35px; }

  .micro__list-item {
    font-size: 16px; }

  .gallery-min {
    gap: 10px;
    padding: 15px 10px 12px; }
    .gallery-min::before {
      border-radius: 150px 0px 150px 0px; }

  .footer__form-title {
    font-size: 38px; }

  /* */ }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
